# 1. Importing Librairies

In [3]:
import pandas as pd
import numpy as np
import os

# 2. Importing data

In [15]:
path = r'C:\Users\fairo\Downloads\London Airbnb'

In [16]:
df = pd.read_csv(os.path.join(path, 'listings.csv' ), index_col = False)

In [17]:
df.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,13913,Holiday London DB Room Let-on going,54730,Alina,Islington,51.56802,-0.11121,Private room,65,1,16,6/10/2019,0.15,3,347
1,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,Kensington and Chelsea,51.48796,-0.16898,Entire home/apt,100,3,85,5/5/2019,0.73,1,203
2,17402,Superb 3-Bed/2 Bath & Wifi: Trendy W1,67564,Liz,Westminster,51.52098,-0.14002,Entire home/apt,300,3,41,6/19/2019,0.41,14,269
3,24328,Battersea bedroom & office w parking shared ga...,41759,Joe,Wandsworth,51.47298,-0.16376,Entire home/apt,175,30,93,6/8/2019,0.88,1,329
4,25023,All-comforts 2-bed flat near Wimbledon tennis,102813,Amanda,Wandsworth,51.44687,-0.21874,Entire home/apt,65,4,28,6/22/2019,0.69,1,2

# 3. Exploring Data

In [18]:
df.info

<bound method DataFrame.info of              id                                               name   host_id  \
0         13913                Holiday London DB Room Let-on going     54730
1         15400                Bright Chelsea  Apartment. Chelsea!     60302
2         17402              Superb 3-Bed/2 Bath & Wifi: Trendy W1     67564
3         24328  Battersea bedroom & office w parking shared ga...     41759
4         25023      All-comforts 2-bed flat near Wimbledon tennis    102813
...         ...                                                ...       ...
83845  36583878                                7 VH Loft Apartment  90770681
83846  36584535                  Lambs Passage 1 Bedroom Apartment  47609036
83847  36585425               1 Bedroom Apartment in Lambs Passage  47609036
83848  36585645                            Lambs Passage 1 Bedroom  47609036
83849  36585818              1 Bedroom Apartment in Lanterns Court  47609036

      host_name           neighbourhood  latitude  longitude        room_type  \
0         Alina               Islington  51.56802   -0.11121     Private room
1      Philippa  Kensington and Chelsea  51.48796   -0.16898  Entire home/apt
2           Liz             Westminster  51.52098   -0.14002  Entire home/apt
3           Joe              Wandsworth  51.47298   -0.16376  Entire home/apt
4        Amanda              Wandsworth  51.44687   -0.21874  Entire home/apt
...         ...                     ...       ...        ...              ...
83845      Sara             Westminster  51.53057   -0.18423  Entire home/apt
83846       Ben               Islington  51.52301   -0.08979  Entire home/apt
83847       Ben               Islington  51.52301   -0.08979  Entire home/apt
83848       Ben               Islington  51.52301   -0.08979  Entire home/apt
83849       Ben           Tower Hamlets  51.51050   -0.01788  Entire home/apt

       price  minimum_nights  number_of_reviews last_review  \
0         65               1                 16   6/10/2019
1        100               3                 85    5/5/2019
2        300               3                 41   6/19/2019
3        175              30                 93    6/8/2019
4         65               4                 28   6/22/2019
...      ...             ...                ...         ...
83845    100               2                  0         NaN
83846     82              14                  0         NaN
83847     78              21                  0         NaN
83848     82              21                  0         NaN
83849     72              14                  0         NaN

       reviews_per_month  calculated_host_listings_count  availability_365
0                   0.15                               3               347
1                   0.73                               1               203
2                   0.41                              14               269
3                   0.88                               1               329
4                   0.69                               1                 2
...                  ...                             ...               ...
83845                NaN                               1               209
83846                NaN                              18                35
83847                NaN                              18                36
83848                NaN                              18                36
83849                NaN                              18                31

[83850 rows x 15 columns]>

In [19]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [20]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,8.385000e+04,8.385000e+04,83850.000000,83850.000000,83850.000000,83850.000000,83850.000000,62827.000000,83850.000000,83850.000000
mean,2.134820e+07,7.822874e+07,51.509496,-0.128389,121.656303,4.201956,16.484317,1.208366,25.599499,116.327835
std,1.028356e+07,7.823495e+07,0.046238,0.092231,224.900151,16.070438,34.892659,1.416845,137.240553,132.403346
min,1.391300e+04,2.010000e+03,51.292720,-0.501300,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
25%,1.364932e+07,1.451736e+07,51.485240,-0.188390,45.000000,1.000000,0.000000,0.240000,1.000000,0.000000
50%,2.200927e+07,4.451248e+07,51.513970,-0.125810,81.000000,2.000000,4.000000,0.740000,1.000000,55.000000
75%,3.031554e+07,1.325813e+08,51.537400,-0.070370,140.000000,3.000000,17.000000,1.640000,4.000000,229.000000
max,3.658582e+07,2.749791e+08,51.686570,0.296570,13700.000000,1125.000000,665.000000,30.930000,1161.000000,365.000000

# 4. Data Wrangling

In [21]:
# Renaming the column 'id'
df.rename(columns = {'id' : 'listing_id'}, inplace = True)

The column was renamed for more clarity.

In [26]:
# Changing data type
df['listing_id'] = df['listing_id'].astype('str')

In [24]:
df['host_id'] = df['host_id'].astype('str')

In [28]:
df.dtypes

listing_id                         object
name                               object
host_id                            object
host_name                          object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

# 5. Consistency Checks

In [29]:
# Finding missing values
df.isnull().sum()

listing_id                            0
name                                 26
host_id                               0
host_name                            47
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       21023
reviews_per_month                 21023
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [30]:
# Finding duplicates
df_dups = df[df.duplicated()]

In [31]:
df_dups

Empty DataFrame
Columns: [listing_id, name, host_id, host_name, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

# 6. Exporting Data

In [33]:
df.to_csv(os.path.join(path, 'Listings_clean.csv'))